body {
  padding: 0;
  margin: 0;
}

p {
	font-family: 'Slabo 27px', serif;
	text-align: justify;
}

a {
	font-family: 'Raleway', sans-serif;
}

h2 {
	font-family: 'Raleway', sans-serif; 
	font-size: 4em;
	text-align: center;
}

#farley {
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img {

  box-sizing: border-box;
	width: 50%;
  padding: 10px;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
    border-right:1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: gray;
}

.active {
    background-color: blue;
}

article {
  display: inline-block;
  box-sizing: border-box;
  width: 60%;
  float: left;
  padding: 0 150px 0 150px;
}

aside {
  display: inline-block;
  box-sizing: border-box;
  width: 40%;
  float: right;
  padding: 50px 150px 50px 0;
}

section {
	position: absolute;
	left: 30%;
	width: 40%;
  padding-bottom: 100px;
}

#pic1 {
	display: none;
	position: relative;
	top: 0;
	left: 0;
	float: left;
  height: 95%;
}

#pic2 {
  display: none;
	position: relative;
	top: 0;
	left: 0;
}

#pic3 {	
	display: none;
	position: relative;
	top: 0;
	right: 0;
	float: right;
}

#pic4 {
	display: none;
	position: relative;
	top: 0;
	right: 0;
	float: right;
}

span {
	color: blue;
}

span:hover {
	color: purple;
}

footer {
  position: fixed;
  width: 100%;
  background: gray;
  bottom: 0;
  margin-top: 50px;
  padding-left: 25px;
}

